iiit_companion_*/
__pycache__/
generated_app*/
testing/
build/*
iiit_companion.egg-info/
*.egg*
venv/
service_ports.json
query_logs.csv
.env
conda*
*utilization.csv
*simulation.csv
*data.db
app/cupcarbon/results/*
!app/cupcarbon/results/.gitkeep
app/cupcarbon/logs/*
*.log
services.toml
app/cupcarbon/results/*
!app/cupcarbon/results/.gitkeep
app/cupcarbon/logs/*
rough/*
langchain/*
app/services.toml
app/generated_services/*
temp/*

